<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 1. 加载spring的contextLoaderListener，装配ApplicationContext-->
    <!-- 2. 加载自定义的监听器-->
    <!-- 3. 在context-param中加载Spring配置文件 -->
    <!-- 4. 在servlet中加载dispatherServlet，并且springMVC的配置文件 -->
  <display-name>servermonitor</display-name>
 <!--  <listener>  
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
  </listener>
  <listener>  
    <listener-class>com.serverMonitor.web.SessionListener</listener-class>  
  </listener>   -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/applicationContext.xml</param-value>
   </context-param>  
  <servlet>
    <servlet-name>servermonitor</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:spring/applicationContext-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>servermonitor</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
</web-app>
